.span12 {
 padding-top: 50px;
}

.file-name {
    width: 400px;
}

.text-box {
   width: 720px;
   height: 400px;
}

.container {
    padding-left: 15%;
}

.btn btn-default {
    float: right;
    width: 96px;
}

.btn-container {
    position: inherit;
    padding-right: 37%;
    float: right;
    width: 50px;
}
